<!doctype html>
<html lang="en">

<head>
    <% include common/head %>
    <link rel="stylesheet" href="./css/countdowntimer.css">
    <link rel="stylesheet" href="./css/homePage.css">


</head>

<body>
    <div class="countdown-timer">
        <div class="countdowntimer__Header">
            <h1>HURRY UP!</h1>
            <h3>DEAL OF THE WEEK</h3>
            <h4>From our family farm right to your doorstep.</h4>
        </div>

        <div id="clockdiv">
            <div>
                <span class="days" id="day"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
                <span class="hours" id="hour"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes" id="minute"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds" id="second"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
        <div class="countdowntimer__content">
            <div class=" container">
                <div class="row lkj">
                    <% for(var products of productListThree) { %>
                    <div class="col-3 countdown-col">
                        <div class="product-image--wrapper">
                            <a href="">
                                <img src="<%= products.image %>" class="product-image"></img>
                            </a>
                        </div>
                        <div class="product-name">
                            <%= products.name %>
                        </div>
                        <div class="product-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-price">
                            <%= products.price %> $
                        </div>
                        <a href="#" data-name="<%= products.name %>" data-price="<%= products.price %>"
                            class="addtocartCountDown add-to-cart"></a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/countdowntimer.js"></script>
</body>