<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>project</title>
    <link rel="stylesheet" href="./css/homePage.css">
    <% include common/head %>
</head>

<body>
    <% include components/fixedHeader %>
    <% include components/sliderHomePage %>



    <div class="hpCTA">
        <div class="container">
            <div class="row banner">
                <div class="col-12 col-sm-12 col-md-6">
                    <img src="img/banner-img1.jpg" alt="banner-img1">
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <img src="img/banner-img2.jpg" alt="banner-img1">
                </div>
            </div>
        </div>

    </div>


    <!--next content Best-Seller -->
    <div class="best-seller">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="latestNew__Header">BEST SELLER</h1>
                    <div class="your-class">
                        <% for(var products of productList) { %>
                        <div class="col-md-4 product-wrapper">
                            <a href="">
                                <img src="<%= products.image %>" class="product-image"></img>
                            </a>
                            <div class="product-name">
                                <%= products.name %>
                            </div>
                            <div class="product-price">
                                <%= products.price %>
                            </div>
                            <div class="product-button">
                                <a href="#" data-name="<%= products.name %>" data-price="<%= products.price %>" class="add-to-cart btn btn-primary">Add
                                    to cart</a>
                            </div>

                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include components/latestNew %>
    <% include components/footer %>
    <% include common/bottom %>
    <script src="./js/slider.js"></script>

</body>

</html>