<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>project</title>
    <link rel="stylesheet" href="./css/homePage.css">
    <link rel="stylesheet" href="./css/checkOut.css">
    <link rel="stylesheet" href="./css/components/global.css">

    <% include common/head %>
</head>

<body>
    <% include components/fixedHeader %>
    <% include components/sliderHomePage %>
    <div class="hpCTA">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a href="/product-grid/1">
                        <img src="img/banner-img1.jpg" alt="banner-img1">
                    </a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <a href="/product-grid/1">
                        <img src="img/banner-img2.jpg" alt="banner-img1">
                    </a>
                </div>
            </div>
        </div>

    </div>


    <!--next content Best-Seller -->
    <div class="best-seller">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="best--seller__Header">BEST SELLER</h1>
                    <div class="your-class">
                        <% for(var products of WinterMenu) { %>
                        <div class="col-md-4 col-lg-4 product-wrapper">
                            <div class="product-image--wrapper">
                                <a href="/search-product/">
                                    <img src="<%= products.image %>" class="product-image"></img>
                                </a>
                            </div>
                            <div class="product-name">
                                <%= products.name %>
                            </div>
                            <div class="product-star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-price">
                                <%= products.price %> $
                            </div>
                            <a href="#" data-name="<%= products.name %>" data-price="<%= products.price %>"
                                class="addtocartBTN add-to-cart"></a>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include countdowntimer %>
    <% include comment %>   
    <% include components/latestNew %>
    <% include components/footer %>
    <% include common/bottom %>
    <script src="./js/slider.js"></script>

</body>

</html>